{% extends 'layout.html' %}
{% block body %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">Electrical</h1>
            <div class="list-group">
                <a href="/sub01" class="list-group-item">Computer Science</a>
                <a href="/sub02" class="list-group-item">Mathematics</a>
                <a href="/sub03" class="list-group-item active">Electrical</a>
                <a href="/sub04" class="list-group-item">Mechanical</a>
				<!-- TODO: MULTIPLICATE THIS BLOCK -->
				<a href="/sub05" class="list-group-item">Chemistry</a>
				<!-- TODO: MULTIPLICATE THIS BLOCK -->
				<a href="/sub06" class="list-group-item">Energy And Environment</a>
				<a href="/sub07" class="list-group-item">Elective</a>
				<a href="/sub08" class="list-group-item">Extra</a>
				<a href="/sub09" class="list-group-item">Novels</a>
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            {% include 'includes/_flashmsg.html' %}
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox" style="max-height: 300px">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="/static/image/other/pustikaonsale.png" alt="New York"
                             width="1100" height="300">
                       
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="/static/image/other/roomwithout.png" alt="New York" width="1100"
                             height="300">
                       
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="/static/image/other/libbr.jpg" alt="New York"
                             width="1100" height="300">
                       
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row">
                {% for product in sub03 %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                    <div class="card h-100">
                        <a href="/sub03?view={{product.id}}">
                            <div class="card-img-top"
                                 style="background: url('static/image/product/{{product.category}}/{{product.picture}}'); background-repeat:no-repeat; background-size: cover; height:200px;width:100% "></div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/sub03?view={{product.id}}">{{ product.pName}}</a>
                            </h5>
                            <h4>₹{{product.price}}</h4>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}